<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body style="background-color: rgb(219, 232, 255);">
  <header>
    <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand mx-3" href="/">
        <h2 style="color: rgb(255, 255, 255)">{{#if isAuthenticated}}{{ user.name}}'s {{/if}}Expense Tracker</h2>
      </a>
      {{#if isAuthenticated}}
      <div>
        <form action="/users/logout" method="GET">
          <button class="btn btn-danger" type="submit">Logout
          </button>
        </form>
      </div>
      {{else}}
      <div>
        <form action="/users/logout" method="GET">
          <button class="btn btn-success" type="submit">Login
          </button>
        </form>
      </div>

      {{/if}}

      {{!-- <a class="btn btn-warning mx-3" href="/records/create">Create</a> --}}
    </nav>
  </header>

  <main>
    <div class="container mt-3">
      {{{ body }}}
    </div>
  </main>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>