<div class="container">

  <div class="row  justify-content-center">

    <form action="/records" method="POST">
      <div class="form-row col-6 py-5 mt-3 justify-content-center " style=" margin:auto;background-color: plum;">
        <h1 class="col-12 mb-5" style="text-align:center;">新增消費</h1>
        <div class="form-group my-3" style=" margin:auto;">
          <label class="col-4 " for="name" style="text-align:center;">消費名稱</label>
          <input class="col-6" type="text" placeholder="name" name="name" required>
        </div>
        <div class="form-group my-3">
          <label class="col-4" for="category" style="text-align:center;">類別</label>
          <select class="col-6" id="category" class="form-control" name="category" required>
            <option hidden>選擇類型</option>
            {{#each categories}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group my-3">
          <label class="col-4" for="date" style="text-align:center;">消費日期</label>
          <input class="col-6" type="date" placeholder="date" name="date" required>
        </div>
        <div class="form-group my-3">
          <label class="col-4" for="date" style="text-align:center;">消費金額</label>
          <input class="col-6" type="number" step="0.01" placeholder="amount" name="amount" required>
        </div>
        <div class="form-group mb-5" style=" margin:auto;">
          <label class="col-4 " for="description" style="text-align:center;">註解</label>
          <input class="col-6" type="text" placeholder="description" name="description" required>
        </div>
        <div class="col-12 py-1" style="text-align:center;">
          <button type="submit" class="btn btn-info">確認</button>
        </div>

      </div>
    </form>
  </div>
</div>