<a href="./records/create">Create</a>

<ul>
  {{#each records}}
  <div>
    {{this.category}}
    <div style="display: inline;">
      {{this.name}}
    </div>
    <div style="display: inline;">
      <span> {{this.date}} </span>
      <span>{{this.amount}}</span>
    </div>
  </div>
  {{/each}}
</ul>